@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin: 0;
	margin-top: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background-image: url(palms.jpg);
	background-size: cover;
	background-attachment: fixed;

}

h1 {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	font-size: 80px;
	line-height: 80px;
	color: #ec008c;
	font-size: 80px;
}

h2 {
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}

#container {
	margin-left: 30%;
	margin-right: 15%;
	padding-right: 50px;
	padding-left: 50px;
	/*background-color: white;
	opacity: 0.8;*/
	background:rgba(255,255,255, 0.8);
}

#logo {
	width: 190px;
	height: 70px;
	left: 0px;
	top: 13px; 
	background-color: white;
	position: fixed;
	opacity: 0.8;
}

#logo img {
	position: fixed;
	left: 80px;
	top: 20px; 
	background-attachment: fixed;
	width: 100px;
}

#heading {
	border-left: 30px solid #244C24;
	padding-left: 30px;
	padding: 40px;
}

#weekly {
	border-right: 30px solid #244C24;
	border-top: 30px solid #59876C;
	border-bottom: 30px solid #59876C;
	padding: 40px;
	position: relative;
}

.header{
	position: absolute;
	right: -90px;
	top: 50px;
	transform: rotate(90deg);
	font-size: 24px;
	opacity: .8;
	font-family: 'Roboto', sans-serif;
}

#may {
	border-left: 30px solid #244C24;
	padding: 40px;
	position: relative;
}

.header-2{
	position: absolute;
	left: -70px;
	top: 50px;
	transform: rotate(-90deg);
	font-size: 24px;
	opacity: .8;
	font-family: 'Roboto', sans-serif;
}


.date {
	font-style: italic;
	font-family: 'Quicksand', sans-serif;
}

#footer {
	background-color: #59876C;
	width: 100%;
	margin: 0;

}

#title {
}

#description {
	display: inline-block;
	width: 31%;
}

.text {
	width: 80%;
	margin: 0 auto;
}


#contact {
	margin: 0;
	display: inline-block;
	width: 31%;
}

#address {
	margin: 0;
	display: inline-block;
	width: 31%;
}

@media screen and (max-width: 1055px) {
	#container {
		margin-left: 25%;
		margin-right: 10%;
	}
}

@media screen and (max-width: 900px) {
	#container {
		margin-left: 25%;
		margin-right: 0%;
	}
}

@media screen and (max-width: 800px) {
	#container {
		margin-left: 0%;
		margin-right: 0%;
	}
	#logo {
		display: none;
	}
}

@media screen and (max-width: 560px) {
	h1 {
		font-size: 50px;
	}
	h2 {
		font-size: 20px;
	}
	p {
		font-size: 15px;
	}
}
